name: Build and Test rslearn

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest-m
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cleanup disk space
        run: |
          sudo docker rmi $(docker image ls -aq) >/dev/null 2>&1 || true
          sudo docker image prune --all --force >/dev/null 2>&1 || true
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost

      - name: Build Docker image
        run: docker build -t rslearn-test .

      - name: Run Unit and Integration Tests
        run: |
          docker run --rm \
            -e CI="true" \
            rslearn-test \
            pytest -n auto tests/unit/ tests/integration/ -vv \
            --ignore tests/unit/models/test_molmo.py \
            --ignore tests/unit/models/test_clay.py

      - name: Clean up
        if: always()
        run: docker image prune -f
