name: Data Source Integration Test for pulling External Data

on:
    schedule:
        - cron: "43 20 * * 1,3" # UTC time
    workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest-m
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cleanup disk space
        run: |
          sudo docker rmi $(docker image ls -aq) >/dev/null 2>&1 || true
          sudo docker image prune --all --force >/dev/null 2>&1 || true
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost

      - name: Build Docker image
        run: docker build -t rslearn-test .

      - name: Run Data Sources Integration Tests
        run: |
          printenv GOOGLE_CREDENTIALS > /tmp/gcp-credentials.json
          docker run --rm \
            -e TEST_BUCKET="earthsystem-dev-c3po-rslearn-test-bucket" \
            -e TEST_PREFIX="rslearn_gha_data_source_tests/" \
            -v /tmp/gcp-credentials.json:/tmp/gcp-credentials.json:ro \
            -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
            -e AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}" \
            -e AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}" \
            -e AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION}" \
            -e TEST_SERVICE_ACCOUNT_NAME="${TEST_SERVICE_ACCOUNT_NAME}" \
            -e TEST_XYZ_TILES_TEMPLATE="${TEST_XYZ_TILES_TEMPLATE}" \
            -e TEST_USGS_LANDSAT_USERNAME="${TEST_USGS_LANDSAT_USERNAME}" \
            -e TEST_USGS_LANDSAT_TOKEN="${TEST_USGS_LANDSAT_TOKEN}" \
            -e PL_API_KEY="${PL_API_KEY}" \
            -e CDSAPI_KEY="${CDSAPI_KEY}" \
            -e NASA_EARTHDATA_USERNAME="${NASA_EARTHDATA_USERNAME}" \
            -e NASA_EARTHDATA_PASSWORD="${NASA_EARTHDATA_PASSWORD}" \
            -e COPERNICUS_USERNAME="${COPERNICUS_USERNAME}" \
            -e COPERNICUS_PASSWORD="${COPERNICUS_PASSWORD}" \
            -e EDS_API_URL="${EDS_API_URL}" \
            -e EDS_AUTH_URL="${EDS_AUTH_URL}" \
            -e EDS_CLIENT_ID="${EDS_CLIENT_ID}" \
            -e EDS_SECRET="${EDS_SECRET}" \
            -e CI="true" \
            --network host \
            rslearn-test \
            pytest tests/online/
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          TEST_SERVICE_ACCOUNT_NAME: ${{ secrets.TEST_SERVICE_ACCOUNT_NAME }}
          TEST_XYZ_TILES_TEMPLATE: ${{ secrets.TEST_XYZ_TILES_TEMPLATE }}
          TEST_USGS_LANDSAT_USERNAME: ${{ secrets.TEST_USGS_LANDSAT_USERNAME }}
          TEST_USGS_LANDSAT_TOKEN: ${{ secrets.TEST_USGS_LANDSAT_TOKEN }}
          PL_API_KEY: ${{ secrets.PL_API_KEY }}
          CDSAPI_KEY: ${{ secrets.CDSAPI_KEY }}
          NASA_EARTHDATA_USERNAME: ${{ secrets.NASA_EARTHDATA_USERNAME }}
          NASA_EARTHDATA_PASSWORD: ${{ secrets.NASA_EARTHDATA_PASSWORD }}
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
          EDS_API_URL: ${{ secrets.EDS_API_URL }}
          EDS_AUTH_URL: ${{ secrets.EDS_AUTH_URL }}
          EDS_CLIENT_ID: ${{ secrets.EDS_CLIENT_ID }}
          EDS_SECRET: ${{ secrets.EDS_SECRET }}

      - name: Clean up
        if: always()
        run: |
          rm -f /tmp/gcp-credentials.json
          docker image prune -f
